h1{
    /* border-style: dashed;
    border-width: 2px;
    border-color: aqua; */
    border: 2px dashed aqua;
}

div{
    height: 200px;
    width: 500px;
    background-color: pink;
    /* border-style: solid;
    border-width: 3px;
    border-color: black; */
    border: black 3px solid;
}